{% extends "ProjetWebClassiqueBundle::layout.html.twig" %}

{% block title %}Mon Panier{% endblock %}

{% block classiqueweb_body %}
    <div class="row">
        <h2>Mon Panier</h2> <br/>
    </div>
    <div>
        <div class="row">
            PLOP
        </div>
    </div>

{% endblock %}