{% extends "ProjetWebClassiqueBundle::layout.html.twig" %}

{% block title %}
    Liste Interprêtes
{% endblock %}

{% block classiqueweb_body %}

    <h2>Liste des Interprêtes</h2>

    <p>Sélection {{ contexte }} :
        {% if initial is defined %}
            {{ initial }}
        {% elseif contexte == "par année de naissance" %}
            entre {{ naissance }} et {{ fin }}
        {% endif %}

    </p>


    {% include("ProjetWebClassiqueBundle:Interprete:instrument.html.twig") %}


{% endblock %}