<ul>
    {%  for musicien in pager.currentPageResults  %}

    <li>
        <a href="{{ path('interpreteview',{'codeMusicien': musicien.codeMusicien }) }}">{{ musicien.nomMusicien }} {{ musicien.prenomMusicien }}</a>
    </li>
    {%  endfor  %}

</ul>

<div class="pagerfanta">
    {{ pagerfanta(pager, 'twitter_bootstrap3') }}
</div>