{% extends "ProjetWebClassiqueBundle::layout.html.twig" %}

{% block title %}
    Interprete
{% endblock %}

{% block classiqueweb_body %}
    <h1 class="text-primary">Fiche d'un Interprete</h1>
    {% include"ProjetWebClassiqueBundle:Musicien:view.html.twig" %}

{% endblock %}