{% extends "ProjetWebClassiqueBundle::layout.html.twig" %}

{% block title %}
    Compositeur
{% endblock %}

{% block classiqueweb_body %}
    <h1 class="text-primary">Fiche d'un Compositeur</h1>


    {% include"ProjetWebClassiqueBundle:Musicien:view.html.twig" %}

    <h2 class="text-info">Oeuvres enregistrées</h2>

    <div id="albums">

    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function(){
            $('#albums').html('<img src="http://www.mediaforma.com/sdz/jquery/ajax-loader.gif">');
            var musicienId = $("#code").data("musicien");
            var url = 'http://localhost/ProjetWebServeur/web/app_dev.php/albums/compositeur/'+ musicienId +'/page/1';
            $("#albums").load(url, function(){
                $('a[rel="ChangePage"]').on("click",function() {
                    $('#albums').html('<img src="http://www.mediaforma.com/sdz/jquery/ajax-loader.gif">');
                    var musicienId = $(this).data("musicien");
                    var page = $(this ).data("page");
                    var url = 'http://localhost/ProjetWebServeur/web/app_dev.php/albums/compositeur/'+ musicienId +'/page/' + page;
                    $("#albums").load(url);
                });
            });
        });
    </script>
{% endblock %}