{% extends "ProjetWebClassiqueBundle::layout.html.twig" %}

{% block title %}
    Compositeur
{% endblock %}

{% block classiqueweb_body %}
    <h1 class="text-primary">Fiche d'un Compositeur</h1>
    {% include"ProjetWebClassiqueBundle:Musicien:view.html.twig" %}
    <h2 class="text-info">Oeuvres enregistrées</h2>

    <div id="albums">

    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>

        function handlePaginator() {
            $( 'a[rel="ChangePage"]' ).on( "click", function() {
                var url = $( this ).data( "url" );
                loadPage( url );
                return false;
            });
        }

        function loadPage( url ) {
            $( '#albums' ).html( '<img src="http://www.mediaforma.com/sdz/jquery/ajax-loader.gif">' );
            var musicienId = {{ musicien.codeMusicien  }};
            $( "#albums" ).load( url, function() {
                handlePaginator();
            } );
        }

        $( function() {
            loadPage( "{{path("albumCompositeur", { codeMusicien:musicien.codeMusicien }) }}");
        } );
    </script>
{% endblock %}