{% extends "ProjetWebClassiqueBundle::layout.html.twig" %}

{% block title %}
    Chef d'orchestre
{% endblock %}

{% block classiqueweb_body %}
    <h1 class="text-primary">Fiche d'un Chef D'orchestre</h1>
    {% include"ProjetWebClassiqueBundle:Musicien:view.html.twig" %}
    <h2 class="text-info">Oeuvres enregistrées</h2>

    <div id="albums">

    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function(){
            $('#albums').html('<img src="http://www.mediaforma.com/sdz/jquery/ajax-loader.gif">');
            var musicienId = $("#code").data("musicien");
            var url = 'http://localhost/ProjetWebServeur/web/app_dev.php/albums/chef/'+ musicienId +'/page/1';
            $("#albums").load(url);

            $('a[rel="ChangePage"]').on("click",function() {
                $("#albums").html('<p>Coucou</p>');
            });
        });
    </script>
{% endblock %}