{% extends "ProjetWebClassiqueBundle::layout.html.twig" %}

{% block title %}
    Chef d'orchestre
{% endblock %}

{% block classiqueweb_body %}
    <h1 class="text-primary">Fiche d'un Chef D'orchestre</h1>
    {% include"ProjetWebClassiqueBundle:Musicien:view.html.twig" %}

{% endblock %}