{% extends "ProjetWebHomeBundle::layout.html.twig" %}

{% block title %}
    Page d'acceuil - {{ parent() }}
{% endblock %}

{% block body %}

    {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
    <h1>Page d'accueil de notre site</h1>

    <hr>


    {% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Info ! </strong>{{ message }}
        </div>
    {%  endfor %}

    {% for message in app.session.flashbag.get('connexion') %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Info ! </strong>{{ message }} {{ app.user.username }}
        </div>
    {% endfor %}


    {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
    {% block projetwebhome_body %}
        <div class="row">
            <section class="jumbotron col-lg-10 col-lg-offset-1">
                <h2 class="text-primary">Page d'accueil de KlassiQ, l'accès direct à la base Classique Web</h2>
            </section>
        </div>
    {% endblock %}

{% endblock %}