{% extends "ProjetWebClassiqueBundle:layout.html.twig" %}

{% block title %}
    Musicien - {{ parent() }}
{% endblock %}

{% block classiqueweb_body %}

    <h2>Liste des musicien</h2>

    <ul>
    {% for musicien in liste %}
        <li>
            <a href="{{ path('projet_web_classique_musicienpage',{'id':musicien.codeMusicien}) }}">{{ musicien.nomMusicien }}</a>
        </li>
    {% else %}
        Pas de musiciens ici
    {% endfor %}
    </ul>


{% endblock %}

