{% extends "ProjetWebClassiqueBundle::layout.html.twig" %}

{% block title %}
    Orchestre
{% endblock %}

{% block classiqueweb_body %}
    <h1 class="text-primary">Fiche d'un Genre</h1>

    <span class="text-info">Nom : </span>{{ genre.libelleAbrege}}

    <h2 class="text-info">Oeuvres enregistrées</h2>

    {{ render(controller("ProjetWebClassiqueBundle:Album:genre", {'genre': genre.codeGenre})) }}

{% endblock %}