{% extends "ProjetWebClassiqueBundle::layout.html.twig" %}

{% block title %}
    Orchestre
{% endblock %}

{% block classiqueweb_body %}
    <h1 class="text-primary">Fiche d'un Genre</h1>

    <span class="text-info" id="code" data-genre="{{ genre.codeGenre}}">Nom : </span>{{ genre.libelleAbrege}}

    <h2 class="text-info">Oeuvres enregistrées</h2>

    <div id="albums">

    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>

        function handlePaginator() {
            $( 'a[rel="ChangePage"]' ).on( "click", function() {
                var url = $( this ).data( "url" );
                loadPage( url );
                return false;
            });
        }

        function loadPage( url ) {
            $( '#albums' ).html( '<img src="http://www.mediaforma.com/sdz/jquery/ajax-loader.gif">' );
            $( "#albums" ).load( url, function() {
                handlePaginator();
            } );
        }

        $( function() {
            loadPage( "{{path("albumGenre", { codeGenre:genre.codeGenre }) }}");
        } );
    </script>
{% endblock %}